.app__navbar{
    width: 100%;
    
    
    padding: 1.5rem 3rem;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);

    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);

    position: fixed;
    z-index: 2;

}

.app__navbar-logo{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
   
    .storeIcon{
        font-size: 40px;
        
    }
    p{
        cursor: pointer;
    }

}


.app__navbar-links{
    flex: 1;
    
       .Navbar__NavLink{
        text-decoration: none;
        border-top: 1px solid transparent;
        padding: 0.5rem;
        cursor: pointer;
        transition: all 0.3s ease ;
       

        &:hover{
            color: rgba(100, 1, 100, 0.829);
            border-top: 1px solid rgba(100, 1, 100, 0.829);
        }
        
       }
    
}

.active{
    color: rgba(100, 1, 100, 0.829);
}

.app__navbar-right-div{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    
    gap: 1rem;
    

    .shop-icon {
        cursor: pointer;
        transition: all 0.3s ease ;
        &:hover{
            color: rgba(100, 1, 100, 0.829);
        }
    }
    .favorate-icon{
        cursor: pointer;
        transition: all 0.3s ease ;
        &:hover{
            color: rgba(100, 1, 100, 0.829);
        }
    }

    .sign-out-btn{
        background-color: transparent;
        border: none;
        font-size: 23px;
        color: black;
        font-family: "Roboto";

        cursor: pointer;
        transition: all 0.3s  ease-in-out ;

        &:hover{
            color: rgba(100, 1, 100, 0.829);
            
            
        }
    }
}

