.app__productCart-SingleC{
    width: 300px;
    flex-direction: column;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
    background-color: rgba(128, 0, 128, 0.096);
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover{
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.11);
        
    }
}

.app__productCart-img{
    width: 100%;
    height: 230px;
    position: relative;
    
    img{
        width: 100%;
        height: 100%;
        border-radius: 0.3rem;
        object-fit: cover;
    }
}

.app__productCart-hover{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;

    
    border-radius: 0.5rem;
    opacity: 0;
    transition: all 0.3s ease;

    div{
        width: 0;
        height: 0;
    }

    &:hover{
        background-color: rgba(0,0,0,0.5);
    

        div{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: rgba(0,0,0,0.5);
            color: white;
            margin: 1rem;
            cursor: pointer;
            transition: all 0.3s ease;

            svg{
                width: 50%;
                height: 50%;
                color: white;
            }
        }
}

}

.app__productCart-info{
    width: 100%;
    position: relative;
    flex-direction: column;
    gap: 0.5rem;
    h2{
        font-family: 'Roboto';
        font-weight: 500;
        margin-top: 0.5rem;
        color: black;
    }

    .rating{
        position: absolute;
        padding: 0.3rem 0.3rem;
        background-color: white;
        top:-25px

    }

}