.app__allProducts{
    margin-top: 7rem ;
}
.slider-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem ;
    padding: 1rem;

    .sliderCategories{
        width: 65rem;
        

        .category-item{
            display: flex;
            align-items: center;
            justify-content: center;
            align-content: center;
            cursor: pointer;
            padding: 1rem 0rem;
            transition: all 0.5s ease-in-out ;

            .p-dot{
                font-size:3rem;
                font-weight: 600;
                color: transparent;

            }
            .category-text{
                font-size: 1.2rem;
                font-family: 'Roboto';
                text-transform: uppercase;
            }
            
            &:hover{
                color: rgba(100, 1, 100, 0.829);
                .p-dot{
                    color: rgba(100, 1, 100, 0.829);    
                }
            }
        } 
        
        
    }
}

@media screen and (max-width : 450px) {
    .app__allProducts{
        margin-top: 1rem ;
        margin-bottom: 1rem;
    }
    .slider-container{
        
        .sliderCategories{
            width: 15rem;
            .category-item{
                .category-text{
                    font-size: 0.8rem;
                }

            }

        }

    }
}